@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body .MuiDataGrid-columnsManagement {
  max-height: 200px !important;
}

* {
  scrollbar-width:none;
  /* scrollbar-color: #888 #f1f1f1;  */
}

/* Chỉnh sửa các trình duyệt sử dụng WebKit, như Chrome và Safari */